h1 {
    color: black;
    text-align: center;
  }
  
  body {
    color: black;
    text-align: center;
    
  }

  
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  background-color: grey;
  margin: 40px 40px;
  }
  
  .parent {
    border-style: solid;
    height: 200px;
    width: 120px;

 
     display: flex;
    justify-content: center;
     margin: 10px 50px;
  }
  button {
  background-color: yellow;
  }
  